.menu {
	background-color: rgb(32, 63, 114);
	overflow: hidden;
	
}
.menu a {
	float: left;
	color: rgb(226, 255, 12);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: "Aldrich";
}

.menu a:hover {
	background-color: rgb(170, 188, 39);
	color: rgb(201, 224, 31);
}

.menu a.active {
	background-color: red;
	color: rgb(226, 255, 12);
}
	
	